configuration {
	modes: [window, drun, run];
	font: "cascadia code 25";
	matching: "fuzzy";

	display-window: "window";
	display-drun: "application";
	display-run: "application";
}


* {
	padding: 10px;
}

window {
	height: 850px;
	border: 5px;
}

listview {
	spacing: 6px;
}

entry {
	placeholder: "";
}

element {
	margin: 8px;
}
